html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 85px;
    /* border: red 2px solid; */
    display: flex;
    
}
#image1{
    height: 42px;
    width: 42px;
    margin: 21px 0px 0px 84px;
    
}

#logo-text{
    margin: 22px 0px 0px 8px;
    color: #505050;
    font-family: "Trajan", sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.4;
}
#logo-text a{
    text-decoration: none;
    color: #505050;
}

/*Navbar anchor tag style*/
#divAn{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 10px;
}
#divAnIn{
    display: flex;
}
#first-a{
    margin: 16px 0px 0px 500px;
}
.a-tag{
    text-decoration: none;
    color: #505050;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 0px 10px;
}

#fonts-lang-color{
    margin: 10px 0px 0px 10px;
    height: 22px;
}
.fbtn{
    background: none;
    border: none;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    color: #505050;
    cursor: pointer;
}
#font-A{
    font-size: 12px;
}
#fontA{
    font-size: 14px;
}
#fontA3{
    font-size: 16px;
}
.span1{
    font-weight: bold;
    color: #265781;
    font-size: 23px;
}
#EN{
    background: none;
    border: none;
    font-family: "Fira Sans", sans-serif;
    color: #505050;
    margin: 0px 6px 0px 6px;
    cursor: pointer;
}
#EN option{
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    color: #505050;
}
.colorbtn{
    margin: 0px 4px;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
#colorbtn1{
    margin-left: 10px;
    background-color: #265781;
}
#colorbtn2{
    background-color: #52B27B;
}
#colorbtn3{
    margin-right: 10px;
    background-color: #F2E162;
}
#search-icon{
    border: none;
    background: none;
    cursor: pointer;
}
#searchIn{
    margin: 0px 0px 0px 15px;
    width: 300px;
    height: 20px;
}
.popupS{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#popupC{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}
#search-icon1{
    margin-left: -5px;
    margin-top: 17px;
    height: 28px;
}
#i-icon1{
    font-size: 17px;
    color: #265781c2;
}
.close {
    margin-top: -15px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#i-icon{
    font-size: 18px;
    color: #265781c2;
}

#second-a{
    margin: 14px 0px 0px 415px;
}
.a-tag2{
    text-decoration: none;
    color: #505050;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 0px 4px;
}
.span2{
    font-weight: bold;
    color: #265781;
    font-size: 16px;
}
/*Navbar anchor tag style end*/

#FImgDiv{
    width: 100%;
    height: 559px;
    display: flex;
    /* position: relative; */
}
#flexImage{
    width: 100%;
    height: 520px;
}
#FImgDiv1{
    position: absolute;
    margin: 242px 0px 0px 84px;
    /* top: 237px; */
}
#FImg_H1{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 183px;
    height: 58px;
    background-color: #1B7642;
    text-align: center;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 57px;
    font-weight: 900;
    padding-bottom: 10px;
}
#FImg_H2{
    margin-top: 5px;
    width: 505px;
    height: 44px;
    padding: 10px 5px;
    background-color: #0F5C30;
    text-align: center;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 35px;
    font-weight: 900;
}
#knowM_btn{
    margin-top: 8px;
    width: 183px;
    height: 47px;
    color: #272727;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    border: none;
    cursor: pointer;
}
#knowM_btn:hover{
    background-color: rgb(209, 211, 212);
}
#box{
    position: absolute;
    margin: 480px 0px 0px 750px;
    width: 80px;
    height: 78px;
    background-color: #1B7642;
}
#Inbox{
    position: absolute;
    margin: 21px 27px;
    width: 18px;
    height: 27px;
    border: aliceblue 3px solid;
}

#SecDiv{
    margin: 90px 0px 0px 260px;
    position: relative;
}
#SecDivH2{
    margin: 0px 0px 0px 105px;
    width: 500px;
    color: #505050;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: 900;
}
#Irri_Image{
    margin: 12px 0px 0px 0px;
    width: 700px;
    height: 90px;
}
#logo2{
    position: absolute;
    top: 0;
    margin: 0px 0px 0px 90px;
    width: 182px;
    height: 166px;
}
#SecDivH3{
    margin: 8px 0px 0px 228px;
    width: 550px;
    color: #505050;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: 900;
}

#Types{
    height: 350px;
    display: flex;
    width: fit-content;
}
#sec1{
    margin: 150px 0px 0px 200px;
    width: 100px;
    height: 130px;
}
.secLogo{
    padding: 0px 11px;
    width: 75px;
    height: 75px;
}
.secP{
    margin-top: 15px;
    text-align: center;
    color: #505050;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#sec2{
    margin: 150px 0px 0px 150px;
    width: 100px;
    height: 130px;
}

#sec3{
    margin: 150px 0px 0px 150px;
    width: 120px;
    height: 130px;
}
#sec3Logo{
    padding: 0px 25px;
    width: 69px;
    height: 75px;
}

#sec4{
    margin: 150px 0px 0px 150px;
    width: 120px;
    height: 130px;
}
#sec4Logo{
    padding: 0px 25px;
    width: 69px;
    height: 75px;
}

#sec5{
    margin: 150px 0px 0px 150px;
    width: 120px;
    height: 130px;
    align-items: center;
}
#sec5Logo{
    padding: 0px 25px;
    width: 69px;
    height: 75px;
}

#About{
    height: 521px;
    background-color: #3F3531;
    display: flex;
    margin-top: 40px;
    right: 0px;
    width: 100%;
}
#VideoImg{
    position: absolute;
    margin: 92px 0px 0px 84px;
    width: 556px;
    height: 352px;
}
#play_icon{
    margin: 19px 0px 0px 23.8px;
    color: white;
    font-size: 25px;
}
#icon_outerCircle{
    position: absolute;
    margin: 240px 0px 0px 315px;
    color: #44AF72;
    width: 68px;
    height: 68px;
    border: 2px solid #44AF72;
    border-radius: 50px;
}
#icon_Circle{
    margin: 2.8px 0px 1px 3px;
    background-color: #44AF72;
    width: 62px;
    height: 62px;
    border-radius: 50px;
}
#AboutUsDiv{
    margin: 75px 0px 0px 350px;
    width: 600px;
    height: 367px;
}
#AboutDivH1{
    margin-top: 0px;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: 900;
}
#AboutDivP{
    margin-top: 10px;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    text-align: justify;
}
#AboutUsDiv_KMbtn{
    margin: 22px 0px;
    width: 183px;
    height: 47px;
    color: #FFFFFF;
    background-color: #44AF72;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
}
#AboutUsDiv_KMbtn:hover{
    background-color: #44af72ce;
}

footer{
    bottom: 0px;
    margin-top: 85px;
    position: relative;
    background-image: url("Union2.png");
    height: 512.35px;
    width: 100%;
}
#footer_Bg{
    margin: 76px 0px 0px 0px;
    position: absolute;
    height: 435px;
    width: 100%;
    background-color: #1B7642;
    display: flex;
}

#footerDiv1{
    margin: 25px 0px 0px 130px;
    width: 700px;
    height: 375px;
}
#footerDiv1_H2{
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-weight: bold;
}
/* #EmailDiv{
    width: 672px;
    height: 46px;
    border: 1px black solid;
    background-color: rgba(0, 0, 0, 10%);
    border-radius: 25px;
} */
#EmailIn{
    margin: 0px 0px 0px 0px;
    width: 650px;
    height: 46px;
    background: none;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 10%);
    border-radius: 25px;
    display: inline-block;
    padding-left: 20px;
}
#EmailIn::placeholder{
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}
#EmailIn:focus{
    outline: none;
}
#SBbtn{
    margin: 4.5px 0px 0px -230px;
    height: 40px;
    width: 225px;
    color: black;
    background-color: white;
    position: absolute;
    font-family: "SF Compact Display", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}
#footerDSec1{
    display: inline-block;
    width: 150px;
    margin: 25px 0px 0px 0px;
}
#Sec1H3{
    font-family: "SF Compact Display", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0px 0px 0px 0px;
}
#Sec1Ul{
    list-style-type: none;
    margin: 8px 0px 0px 0px;
}
#Sec1Ul li{
    margin-top: 5px;
}
#Sec1Ul a{
    text-decoration: none;
    margin: 12px 0px 0px -40px;
    font-family: "SF Compact Display", sans-serif;
    font-size: 14px;
    color: white;
}

#footerDSec2{
    display: inline-block;
    width: 195px;
    margin: 25px 0px 0px 50px;
    position: absolute;
}
#Sec2H3{
    font-family: "SF Compact Display", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0px 0px 0px 0px;
}
#Sec2Ul{
    list-style-type: none;
    margin: 8px 0px 0px 0px;
}
#Sec2Ul li{
    margin-top: 5px;
}
#Sec2Ul a{
    text-decoration: none;
    margin: 0px 0px 0px -40px;
    font-family: "SF Compact Display", sans-serif;
    font-size: 14px;
    color: white;
}

#footerDSec3{
    display: inline-block;
    width: 195px;
    margin: 25px 0px 0px 310px;
    position: absolute;
}
#Sec3Ul{
    list-style-type: none;
    margin: 28px 0px 0px 0px;
}
#Sec3Ul li{
    margin-top: 5px;
}
#Sec3Ul a{
    text-decoration: none;
    margin: 0px 0px 0px -40px;
    font-family: "SF Compact Display", sans-serif;
    font-size: 14px;
    color: white;
}

#CoPowDiv{
    display: flex; 
    width: 700px; 
    margin: 78px 0px 0px 0px;
}
#copyR{
    width: fit-content;
}
#copyRP1{
    margin: 0px 0px 0px 0px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
#copyRP2{
    margin: 2px 0px 0px 0px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: white;
    
}
#copyRP2 i{
    font-size: 10px;
}
#powerB{
    width: fit-content;
    margin: 0px 0px 0px 200px;
}
#powerBP1{
    margin: 0px 0px 2px 32px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    
}
#powerBP2{
    margin: 2px 0px 0px 0px;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: white;
    
}

#footerDiv2{
    margin: 25px 0px 38px 90px;
    width: 371px;
    height: 375px;
    background-color: #1d1d1d1c;
}
#Div2Sec1{
    margin: 36px 0px 0px 36px;
    height: 100px;
    width: 283px;
    display: flex;
    
}
#IMapO{
    font-size: 24px; 
    margin: 45px 0px 0px 6px; 
    color: white;
}
#IMapMarker{
    font-size: 29px; 
    margin: 30px 0px 0px 13px; 
    position: absolute; 
    color: whitesmoke;
}
#Div2H3{
    margin: 0px 0px 0px 25px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    width: 150px;
    height: fit-content;
}
#Div2P{
    margin: 30px 0px 0px 60px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: white;
    width: 210px;
    height: fit-content;
    position: absolute;
}
hr{
    margin: 0px 0px 0px 96px;
    width: 230px;
    background-color: #F8F8F82c;
}

#Div2Sec2{
    width: 300px;
    height: 62px;
    margin: 17px 0px 0px 36px;
    display: flex;
}
#IMobile{
    margin: 2px 0px 0px 13px;
    font-size: 48px; 
    color: white;
}
#D2Sec2H3{
    margin: 0px 0px 0px 25px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
#D2Sec2H4{
    margin: 28px 0px 0px 60px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: white;
    position: absolute;
}

#Div2Sec3{
    width: 200px;
    height: 48px;
    margin: 19.5px 0px 0px 36px;
    display: flex;
}
#IMail{
    margin: 4px 0px 0px 6px;
    font-size: 35px; 
    color: white;
}
#D2Sec3H3{
    margin: 0px 0px 0px 18px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
#D2Sec3H4{
    margin: 26px 0px 0px 61px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 80%);
    position: absolute;
}

#Div2Sec4{
    margin: 32px 0px 0px 36px;
    width: 320px;
    height: 35px;
    display: flex;
}
#D2Sec4H3{
    margin: 5px 0px 0px 0px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
}
#D2Sec4H4{
    margin: 0px 0px 0px 25px;
    color: rgba(255, 255, 255, 30%);
    font-size: 28px;
}
#ITwitter{
    margin: 2px 0px 0px 22px;
    font-size: 30px;
    color: white;
}
#Icons{
    margin: 2px 0px 0px 20px;
    font-size: 30px;
    color: white;
}

/* Media query for screen 1280px */
@media only screen and (max-width: 1280px) {
    html,body{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    #divAn{
        margin: 0px 0px 0px 80px;
    }
    #image1{
        margin-left: 50px;
    }
    #logo-text{
        width: 280px;
    }
    #first-a{
        margin: 16px 0px 0px 180px;
    }
    #EN{
        background: none;
        border: none;
        font-family: "Fira Sans", sans-serif;
        color: #505050;
        margin: 0px 6px 0px 6px;
        cursor: pointer;
    }
    #EN option{
        text-align: center;
        font-family: "Fira Sans", sans-serif;
        color: #505050;
    }
    #popupC{
        background-color: #fefefe;
        margin: auto;
        padding: 18px;
        border: 1px solid #888;
        width: 25%;
    }
    #searchIn{
        margin: 0px 0px 0px 15px;
        width: 250px;
        height: 21px;
    }
    #search-icon1{
        margin-left: -5px;
        margin-top: 19px;
        height: 28px;
    }
    #i-icon1{
        font-size: 17px;
        color: #265781c2;
    }
    .close {
        margin-top: -15px;
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
      
    .close:hover,.close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    #second-a{
        margin: 14px 0px 0px 100px;
    }
    #FImgDiv{
        width: 100%;
        height: 559px;
        display: flex;
        overflow-x: hidden;
        /* position: relative; */
    }
    #flexImage{
        width: 100%;
    }
    #box{
        margin-left: 630px;
    }
    #SecDiv{
        margin: 90px 0px 0px 170px;
        width: fit-content;
    }
    #Types{
        margin-left: 170px;
    }
    #sec1{
        margin-left: 0px;
    }
    #sec2,#sec3,#sec4,#sec5{
        margin-left: 100px;
    }

    #AboutUsDiv{
        margin: 46px 0px 0px 330px;
        width: 470px;
        height: fit-content;
    }

    #footerDiv1{
        margin: 25px 0px 0px 80px;
    }
    #footerDiv2{
        margin-left: 30px;
    }
  }
